.login {
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #000;
  height: 100vh;
}

.login__container {
  margin-left: 15px;
}

.login__logo {
  height: 20px;
  width: 30%;
  margin-top: 17px;
  margin-bottom: 15px;
  margin-left: -8px;
}

.login__title > h1 {
  text-transform: capitalize;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 36px;
}

.login__custom__container {
  display: flex;
  flex-direction: column;
}

.login__custom-field {
  position: relative;
}

.login__custom-field > input {
  background: #333;
  padding-left: 20px;
  color: #fff;
  margin-bottom: 16px;
  font-size: 14px;
  border-radius: 4px;
  border: none;
  height: 55px;
  width: 85%;
  line-height: 50px;
  outline: none;
}

.login__placeholder {
  position: absolute;
  left: 12px;
  color: #8c8c8c;
  top: calc(50%);
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

input:valid + .login__placeholder,
input:focus + .login__placeholder {
  top: -10px;
  font-size: 13px;
}

.login__custom-field-1 {
  position: relative;
}

.login__custom-field-1 > input {
  background: #333;
  padding-left: 20px;
  color: #fff;
  margin-bottom: 16px;
  font-size: 14px;
  border-radius: 4px;
  border: none;
  height: 55px;
  width: 85%;
  line-height: 50px;
  outline: none;
}

.login__placeholder-1 {
  position: absolute;
  left: 12px;
  color: #8c8c8c;
  top: calc(50%);
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

input:valid + .login__placeholder-1,
input:focus + .login__placeholder-1 {
  top: -10px;
  font-size: 13px;
}
.login__btn {
  color: #fff;
  text-transform: capitalize;
  background: #e50914;
  width: 93%;
  padding: 15px;
  margin: 24px 0 12px;
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 40px;
  cursor: pointer;
}

.login__registerContainer {
  display: flex;
}

.login__question {
  margin-top: 16px;
  color: #737373;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px;
}

.login__signUp {
  text-transform: capitalize;
  margin-top: 16px;
  margin-left: 5px;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (min-width: 440px) {
  .login__container {
    margin-left: 25px;
  }
  .login__logo {
    height: 50px;
  }
  .login__title > h1 {
    font-size: 45px;
  }
}

@media screen and (min-width: 542px) {
  .login__logo {
    height: 25px;
    margin-left: -48px;
  }
  .login__title > h1 {
    font-size: 30px;
  }
}

@media screen and (min-width: 700px) {
  .login__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .login__logo {
    height: 40px;
    margin-left: -40px;
    margin-bottom: 60px;
  }
}
